body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: vw;
    margin-top: 0;
}

.top_section {
    background: grey;
}


.header_hero_content {
    background: grey;
}

.header {
    display: flex;
    gap:200px;
    justify-content: space-between;
}

.header_logo {
    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header_right {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
}

.hero_section {
    display: flex;
    width: vw;
    justify-content: center;
}

.hero_left {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    flex-wrap: wrap;
}

.bolded_hero_text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.smaller_hero_text {
    width: 300px
}

.hero_left button {
    width:100px;
    background: rgb(101, 101, 220);

}

.replace_with_image {
    width: 350px;
    height: 180px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}